<div class="login-component">
    <div class="container">
        <div class="row justify-content-start login-form">
            <h1 class="text-center title">Login</h1>
            <form (ngSubmit)="onSubmit()"   [formGroup]="loginForm">
              <div class="form-group">
                <label for="email">Email</label>
                <input type="text" class="form-control" id="name"  name="email"  formControlName="email"  required>
              </div>
              <div *ngIf="formErrors.email" class="server-error">
                {{ formErrors.email }}
              </div>
              <div class="form-group">
                <label for="password">Password</label>
                <input type="password" class="form-control"  formControlName="password" name="password" required>
              </div>
              <div *ngIf="formErrors.password" class="server-error">
                {{ formErrors.password }}
              </div>
              <div class="server-error" *ngIf="serverError">
                  {{serverError}}
              </div>
              <button type="submit" class="btn btn-primary" [disabled]="loginForm.invalid" >Submit</button>
            </form>
            <div>
                <a  [routerLink]="['/register']">don't have an account?</a>
            </div>
        </div>
    </div>
</div>